#!/usr/bin/env bash
set -euo pipefail

{{ template "darwin/utils.sh" . }}

filename "bootstrap"

{{ template "darwin/elevate.sh" . }}

# Enables touchID for sudo
if ls /usr/lib/pam | grep -q "pam_tid.so"; then
	PAM_FILE="/etc/pam.d/sudo"
	FIRST_LINE="# sudo: auth account password session"
	if grep -q pam_tid.so "$PAM_FILE"; then
		ignored "TouchID for sudo already enabled"
		true
	elif ! head -n1 "$PAM_FILE" | grep -q "$FIRST_LINE"; then
		error "Cannot enable TouchID for sudo: .pam file has an invalid format"
	else
		action "Enabling TouchID for sudo"
		TOUCHID_LINE="auth       sufficient     pam_tid.so"
		sudo sed -i .bak -e \
			"s/$FIRST_LINE/$FIRST_LINE\n$TOUCHID_LINE/" \
			"$PAM_FILE"
		sudo rm "$PAM_FILE.bak"
	fi
fi

# Check for Xcode Command Line Tools and install them if not present
xcode-select -p &>/dev/null
if [ $? -ne 0 ]; then
	action "Installing Xcode Command Line Tools ..."
	xcode-select --install
else
	ignored "XCode Command Line Tools already installed"
fi

# Accept XCode license
xcode_version=`xcodebuild -version | grep '^Xcode\s' | sed -E 's/^Xcode[[:space:]]+([0-9\.]+)/\1/'`
accepted_license_version=`defaults read /Library/Preferences/com.apple.dt.Xcode 2> /dev/null | grep IDEXcodeVersionForAgreedToGMLicense | cut -d '"' -f 2`
if [ "$xcode_version" != "$accepted_license_version" ]; then
	sudo xcodebuild -license accept
fi

{{ if eq .chezmoi.arch "arm64" -}}
# Check that Rosetta 2 is installed
pgrep -q oahd
if [ $? -ne 0 ]; then
	action "Installing Rosetta 2"
	softwareupdate --install-rosetta --agree-to-license
else
	ignored "Rosetta2 already installed"
fi
{{ end }}

# Check for Homebrew and install if we don't have it

if ! command -v brew &>/dev/null ; then
	
{{ if eq .chezmoi.arch "arm64" -}}
	if command -v /opt/homebrew/bin/brew &>/dev/null ; then
		ignored "Homebrew already installed"
{{ else -}}
	if command -v /usr/local/bin/brew &>/dev/null ; then
		ignored "Homebrew already installed"
{{ end -}}
	else
		action "Installing homebrew"
		/usr/bin/env bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
	fi
else
	ignored "Homebrew already installed"
fi