#!/usr/bin/env bash
set -uo pipefail

{{ template "load-utils" . }}
{{ template "load-homebrew" . }}

filename "homebrew"

action "Installing packages using homebrew..."
brew bundle --no-lock --file=/dev/stdin <<EOF
# Taps
{{ range (.install.homebrew.taps | uniq) -}}
tap '{{ . }}'
{{ end -}}
# Formulaes
{{ range (.install.homebrew.formulaes | uniq) -}}
brew '{{ . }}'
{{ end -}}
# Casks
{{ range (.install.homebrew.casks | uniq) -}}
cask '{{ . }}'
{{ end -}}
# Mac AppStore
{{ range (.install.mas | uniq) -}}
mas '{{ .name }}', id: {{ .id }}
{{ end -}}
EOF
