{{- $config := includeTemplate "get-config" . | fromYaml -}}
{{- template "shebang" . }}
{{- template "check-config" $config }}

{{- template "time-hash" $config }}

set -uo pipefail

{{ template "darwin/elevate.sh" . }}

action "Checking for system updates "
sudo softwareupdate -i -a
