#!/usr/bin/env bash
set -euo pipefail

echo "=> Importing SSH keys"

case "${OS_MAJOR}" in
12)
    ssh-add --apple-use-keychain $(find "$HOME/.ssh/keys/" -name "*.pub" | sed 's/.pub//g')
    ;;
*)
    ssh-add -K $(find "$HOME/.ssh/keys/" -name "*.pub" | sed 's/.pub//g')
    ;;
esac

# sw_vers | grep ProductVersion | awk -F":\t" '/ProductVersion/ {print $2}' | awk -F"." '{print $1}'
