#!/usr/bin/env bash
set -euo pipefail

{{ template "load-utils" . }}

filename "defaults"

# Closing system preferences first
osascript -e 'tell application "System Preferences" to quit'

{{ template "prompt-sudo" . }}

# --------------------
# System configuration
# --------------------

action "Computer identity"

# Set computer name (as done via System Preferences → Sharing)
sudo scutil --set ComputerName {{ .host.friendly_name }}
sudo scutil --set HostName {{ .host.host_name }}
sudo scutil --set LocalHostName {{ .host.host_name }}
sudo defaults write /Library/Preferences/SystemConfiguration/com.apple.smb.server NetBIOSName {{ .host.host_name }}
dscacheutil -flushcache

action "Languages & localization"

# Set locale
defaults write -g AppleLocale -string 'fr_FR'
defaults write -g AppleMetricUnits -bool true
defaults write -g AppleMeasurementUnits -string 'Centimeters'
defaults write -g AppleTemperatureUnit -string 'Celsius'
# Languages and text formats
defaults write -g AppleLanguages -array 'fr-FR' 'en-FR'
defaults write com.apple.translationd InstalledLocales -array 'fr-FR' 'en-US'
# Set the timezone; see `sudo systemsetup -listtimezones` for other values
# sudo systemsetup -settimezone 'Europe/Paris' >/dev/null

action "General UI/UX"

# Set accent color
defaults delete -g AppleAccentColor &>/dev/null || true
defaults delete -g AppleHighlightColor &>/dev/null || true
defaults write -g AppleReduceDesktopTinting -bool false
# Auto switch between light and dark mode
defaults write -g AppleInterfacesStyleSwitchesAutomatically -bool true
# Shows scrollbar automatically
defaults write -g AppleshowScrollBars -string 'Automatic'
# Clic scrollbar to go to clicked location
defaults write -g AppleScrollerPagingBehavior -int 1
# Confirm changes on close
defaults write -g NSCloseAlwaysConfirmChanges -bool false
# Closes windows on app quit
defaults write -g NSQuitAlwaysKeepsWindows -bool false
# Expand save panel by default
defaults write -g NSNavPanelExpandedStateForSaveMode -bool true
defaults write -g NSNavPanelExpandedStateForSaveMode2 -bool true
# Expand print panel by default
defaults write -g PMPrintingExpandedStateForPrint -bool true
defaults write -g PMPrintingExpandedStateForPrint2 -bool true
# Open home directory instead of iCloud when saving a document
defaults write -g NSDocumentSaveNewDocumentsToCloud -bool false
# Set sidebar icon size to medium
defaults write -g NSTableViewDefaultSizeMode -int 2
# Add a context menu item for showing the Web Inspector in web views
defaults write -g WebKitDeveloperExtras -int 1
# Allow keyboard navigation everywhere
defaults write -g AppleKeyboardUIMode -int 3

action "Dock & menubar"

# Dock icons size
defaults write com.apple.dock tilesize -float 44
defaults write com.apple.dock magnification -bool false
# System Preferences > Dock & Menubar > Position
defaults write com.apple.dock orientation -string 'bottom'
# System Preferences > Dock & Menubar > Minimize effect
defaults write com.apple.dock mineffect -string'scale'
# System Preferences > Dock & Menubar > Autohide
defaults write com.apple.dock autohide -bool false
# System Preferences > Dock & Menubar > Disables recent applications
defaults write com.apple.dock show-recents -bool false
# System Preferences > Mission Control > Group by app
defaults write com.apple.dock expose-group-apps -bool true
defaults write com.apple.dock showAppExposeGestureEnabled -bool true
# Make Dock icons of hidden applications translucent
defaults write com.apple.dock showhidden -bool true
# Reduces windows on double click in title bar
defaults write -g AppleActionOnDoubleClick -string 'Minimize'
# Extended DateTime format
defaults write com.apple.menuextra.clock DateFormat -string 'EEE d MMM à  HH:mm:ss'
defaults write com.apple.menuextra.clock ShowDate -int 0
defaults write com.apple.menuextra.clock ShowDayOfWeek -bool true
defaults write com.apple.menuextra.clock Show24Hour -bool true
defaults write com.apple.menuextra.clock ShowSeconds -bool true
# System Preferences > Mission Control > Rearrange spaces automatically
defaults write com.apple.dock mru-spaces -bool false
# Hides menubar in fullscreen
defaults write -g AppleMenuBarVisibleInFullscreen -bool false

action "Control center"

# Hides wifi in menubar
defaults write com.apple.controlcenter 'NSStatusItem Visible Wifi' -bool false
# Hides bluetooth in menubar
defaults write com.apple.controlcenter 'NSStatusItem Visible Bluetooth' -bool false
# Hides airdrop in menubar
defaults write com.apple.controlcenter 'NSStatusItem Visible AirDrop' -bool false
# Hides focus in menubar when not enabled
defaults write com.apple.controlcenter 'NSStatusItem Visible FocusModes' -bool false
# Hides keyboard brightness in menubar
defaults write com.apple.controlcenter 'NSStatusItem Visible KeyboardBrightness' -bool false
# Hides airplay in menubar if not enabled
defaults write com.apple.airplay showInMenuBarIfPresent -bool true
defaults write com.apple.controlcenter 'NSStatusItem Visible ScreenMirroring' -bool false
# Hides display in menubar
defaults write com.apple.controlcenter 'NSStatusItem Visible Display' -bool false
# Hides sound in menubar if not active
defaults write com.apple.controlcenter 'NSStatusItem Visible Sound' -bool false
# Hides accessibility shortcuts in menubar
defaults write com.apple.controlcenter 'NSStatusItem Visible AccessibilityShortcuts' -bool false
# Hides user switcher in menubar
defaults write com.apple.controlcenter 'NSStatusItem Visible UserSwitcher' -bool false
# Hides spotlight in menubar
defaults delete com.apple.Spotlight 'NSStatusItem Visible Item-0' &>/dev/null || true
# Hides siri in menubar
defaults write com.apple.Siri StatusMenuVisible -bool true
# Hides time machine in menubar
defaults write com.apple.systemuiserver dontAutoLoad -array '/System/Library/CoreServices/Menu Extras/TimeMachine.menu'
# Shows date & time
defaults write com.apple.controlcenter 'NSStatusItem Visible Clock' -bool true
# Shows control center icon
defaults write com.apple.controlcenter 'NSStatusItem Visible BentoBox' -bool true
{{ if eq .host.chassis_type "laptop" -}}
# Shows battery icon
defaults write com.apple.controlcenter 'NSStatusItem Visible Battery' -bool true
{{ end -}}

# TBD
# defaults write com.apple.controlcenter 'NSStatusItem Visible Item-0' '0'
# defaults write com.apple.controlcenter 'NSStatusItem Visible Item-1' '0'
# defaults write com.apple.controlcenter 'NSStatusItem Visible Item-2' '0'
# defaults write com.apple.controlcenter 'NSStatusItem Visible Item-3' '0'
# defaults write com.apple.controlcenter 'NSStatusItem Visible Item-4' '0'
# defaults write com.apple.controlcenter 'NSStatusItem Visible Item-5' '0'
# defaults write com.apple.controlcenter 'NSStatusItem Visible Item-6' '0'
# defaults write com.apple.controlcenter 'NSStatusItem Visible Item-7' '0'
# defaults write com.apple.controlcenter 'NSStatusItem Visible Item-8' '0'
# defaults write com.apple.controlcenter 'NSStatusItem Visible Item-9' '0'

action "Mouse"

# Natural scroll direction
defaults write -g com.apple.swipescrolldirection -bool true
# Mouse cursor speed
defaults write -g com.apple.mouse.scaling -float 0.6875
# Scrolling speed
defaults write -g com.apple.scrollwheel.scaling -float 5
# Double click speed
defaults write -g com.apple.mouse.doubleClickTreshold -float 0.5

action "Keyboard"

# Key repeat speed
defaults write -g KeyRepeat -int 1
# Key repeat delay
defaults write -g InitialKeyRepeat -int 10
# Disables auto period substitution
defaults write -g NSAutomaticPeriodSubstitutionEnabled -bool false

{{ if eq .host.chassis_type "laptop" -}}
action "Trackpad"

# Disables force click
defaults write com.apple.AppleMultitouchTrackpad ActuateDetents -int 0
defaults write com.apple.AppleMultitouchTrackpad ForceSuppressed -bool true
# Data detection & search w/ 3 fingers
defaults write com.apple.AppleMultitouchTrackpad TrackpadThreeFingerTapGesture -int 2
defaults write com.apple.driver.AppleMultitouchTrackpad.trackpad TrackpadThreeFingerTapGesture -int 2
# Secondary click with two fingers
defaults write com.apple.AppleMultitouchTrackpad TrackpadRightClick -bool true
defaults write com.apple.driver.AppleMultitouchTrackpad.trackpad TrackpadRightClick -bool true
defaults write com.apple.AppleMultitouchTrackpad TrackpadCornerSecondaryClick -int 0
defaults write com.apple.driver.AppleMultitouchTrackpad.trackpad TrackpadCornerSecondaryClick -int 0
defaults write -g ContextMenuGesture -int 1
# Disables tap for click
defaults write com.apple.AppleMultitouchTrackpad Clicking -bool false
defaults write com.apple.driver.AppleMultitouchTrackpad.trackpad Clicking -bool false
# Make the click softer
defaults write com.apple.AppleMultitouchTrackpad FirstClickTreshold -int 0
defaults write com.apple.AppleMultitouchTrackpad SecondClickTreshold -int 0
# Adjust move speed
defaults write -g com.apple.trackpad.scaling -float 0.6875
# Natural scrolling, smooth, in both directions
defaults write -g com.apple.swipescrolldirection -bool true
defaults write com.apple.AppleMultitouchTrackpad TrackpadScroll -bool true
defaults write com.apple.driver.AppleMultitouchTrackpad.trackpad TrackpadScroll -bool true
defaults write com.apple.AppleMultitouchTrackpad TrackpadHorizScroll -int 1
defaults write com.apple.driver.AppleMultitouchTrackpad.trackpad TrackpadHorizScroll -int 1
defaults write com.apple.AppleMultitouchTrackpad TrackpadMomentumScroll -bool true
defaults write com.apple.driver.AppleMultitouchTrackpad.trackpad TrackpadMomentumScroll -bool true
# Zoom in and out
defaults write com.apple.AppleMultitouchTrackpad TrackpadPinch -bool true
defaults write com.apple.driver.AppleMultitouchTrackpad.trackpad TrackpadPinch -bool true
# Intelligent zoom
defaults write com.apple.AppleMultitouchTrackpad TrackpadTwoFingerDoubleTapGesture -int 1
defaults write com.apple.driver.AppleMultitouchTrackpad.trackpad TrackpadTwoFingerDoubleTapGesture -int 1
# Rotate items
defaults write com.apple.AppleMultitouchTrackpad TrackpadRotate -bool true
defaults write com.apple.driver.AppleMultitouchTrackpad.trackpad TrackpadRotate -bool true
# Navigate between pages w/ 2 fingers
defaults write -g AppleEnableSwipeNavigateWithScrolls -bool true
defaults write com.apple.AppleMultitouchTrackpad TrackpadThreeFingerHorizSwipeGesture -int 0
defaults write com.apple.driver.AppleMultitouchTrackpad.trackpad TrackpadThreeFingerHorizSwipeGesture -int 0
# Navigate between apps w/ 4 fingers
defaults write com.apple.AppleMultitouchTrackpad TrackpadFourFingerHorizSwipeGesture -int 2
defaults write com.apple.driver.AppleMultitouchTrackpad.trackpad TrackpadFourFingerHorizSwipeGesture -int 2
# Show notifications center w/ 2 fingers
defaults write com.apple.AppleMultitouchTrackpad TrackpadTwoFingerFromRightEdgeSwipeGesture -int 3
defaults write com.apple.driver.AppleMultitouchTrackpad.trackpad TrackpadTwoFingerFromRightEdgeSwipeGesture -int 3
# Show mission control & exposé w/ 3 fingers
defaults write com.apple.dock showMissionControlGestureEnabled -bool true
defaults write com.apple.dock showAppExposeGestureEnabled -bool true
defaults write com.apple.AppleMultitouchTrackpad TrackpadThreeFingerVertSwipeGesture -int 2
defaults write com.apple.driver.AppleMultitouchTrackpad.trackpad TrackpadThreeFingerVertSwipeGesture -int 2
defaults write com.apple.AppleMultitouchTrackpad TrackpadFourFingerVertSwipeGesture -int 2
defaults write com.apple.driver.AppleMultitouchTrackpad.trackpad TrackpadFourFingerVertSwipeGesture -int 2
# Show launchpad gesture
defaults write com.apple.dock showLaunchpadGestureEnabled -bool true
defaults write com.apple.AppleMultitouchTrackpad TrackpadFourFingerPinchGesture -int 2
defaults write com.apple.driver.AppleMultitouchTrackpad.trackpad TrackpadFourFingerPinchGesture -int 2
defaults write com.apple.AppleMultitouchTrackpad TrackpadFiveFingerPinchGesture -int 2
defaults write com.apple.driver.AppleMultitouchTrackpad.trackpad TrackpadFiveFingerPinchGesture -int 2
# Show desktop gesture
defaults write com.apple.dock showDesktopGestureEnabled -bool true
# Keep trackpad active when a mouse is plugged
defaults write com.apple.AppleMultitouchTrackpad USBMouseStopsTrackpad -int 0
defaults write com.apple.driver.AppleMultitouchTrackpad.trackpad USBMouseStopsTrackpad -int 0
# Detect when hand is on trackpad
defaults write com.apple.AppleMultitouchTrackpad TrackpadHandResting -bool true
defaults write com.apple.driver.AppleMultitouchTrackpad.trackpad TrackpadHandResting -bool true

# TBD
defaults write com.apple.AppleMultitouchTrackpad TrackpadThreeFingerDrag -bool false
defaults write com.apple.driver.AppleMultitouchTrackpad.trackpad TrackpadThreeFingerDrag -bool false
defaults write com.apple.AppleMultitouchTrackpad UserPreferences -bool true
{{ end -}}

action "Sound"

# Disables screen flash
defaults write -g com.apple.sound.beep.flash -int 0
# Set beep sound
defaults write -g com.apple.sound.beep.sound -string /System/Library/Sounds/funk.aiff

action "Siri"

defaults write com.apple.Siri StatusMenuVisible -bool false
defaults write com.apple.Siri VoiceTriggerUserEnabled -bool true

action "Spotlight"

# Indexing preferences
defaults write com.apple.Spotlight orderedItems -array \
	"{'enabled'=1;'name'='APPLICATIONS';}" \
	"{'enabled'=0;'name'='MENU_SPOTLIGHT_SUGGESTIONS';}" \
	"{'enabled'=1;'name'='MENU_CONVERSION';}" \
	"{'enabled'=1;'name'='MENU_EXPRESSION';}" \
	"{'enabled'=1;'name'='MENU_DEFINITION';}" \
	"{'enabled'=1;'name'='SYSTEM_PREFS';}" \
	"{'enabled'=1;'name'='DOCUMENTS';}" \
	"{'enabled'=1;'name'='DIRECTORIES';}" \
	"{'enabled'=1;'name'='PRESENTATIONS';}" \
	"{'enabled'=1;'name'='SPREADSHEETS';}" \
	"{'enabled'=1;'name'='PDF';}" \
	"{'enabled'=0;'name'='MESSAGES';}" \
	"{'enabled'=1;'name'='CONTACT';}" \
	"{'enabled'=1;'name'='EVENT_TODO';}" \
	"{'enabled'=1;'name'='IMAGES';}" \
	"{'enabled'=1;'name'='BOOKMARKS';}" \
	"{'enabled'=1;'name'='MUSIC';}" \
	"{'enabled'=1;'name'='MOVIES';}" \
	"{'enabled'=1;'name'='FONTS';}" \
	"{'enabled'=1;'name'='MENU_OTHER';}"
# Load new settings before rebuilding the index
sudo killall mds &>/dev/null || true
# Make sure indexing is enabled for the main volume
sudo mdutil -i on / &>/dev/null || true
# Rebuild the index from scratch
sudo mdutil -E / &>/dev/null || true

action "Time machine"

# Prevent Time Machine from prompting to use newly connected storage as backup volumes
defaults write com.apple.TimeMachine DoNotOfferNewDisksForBackup -bool true

action "Accessibility"

# Enables zoom on screen using Cmd + scrollwheel
sudo defaults write com.apple.universalaccess closeViewScrollWheelToggle -bool true
sudo defaults write com.apple.universalaccess closeViewScrollWheelModifiersInt -int 262144

action "Quick look"

# Allow text selection in Quick Look
defaults write com.apple.finder QLEnableTextSelection -bool true

action "Energy saving"

# Sleep the display after 10 minutes
sudo pmset -a displaysleep 10 || true
# Set machine sleep to 15 minutes on battery
sudo pmset -b sleep 15 || true

action "Security"

# Disables GateKeeper
sudo spctl --master-disable
# Disable the “Are you sure you want to open this application?” dialog
defaults write com.apple.LaunchServices LSQuarantine -bool false
# Disable disk image verification
defaults write com.apple.frameworks.diskimages skip-verify -bool true
defaults write com.apple.frameworks.diskimages skip-verify-locked -bool true
defaults write com.apple.frameworks.diskimages skip-verify-remote -bool true
# Require password immediately after sleep or screen saver begins
defaults write com.apple.screensaver askForPassword -int 1
defaults write com.apple.screensaver askForPasswordDelay -int 0

action "Updates"

# Turn on app auto-update
defaults write com.apple.commerce AutoUpdate -bool true
# defaults write com.apple.finder AutoUpdate -bool true
# Allow the App Store to reboot machine on macOS updates
defaults write com.apple.commerce AutoUpdateRestartRequired -bool true
# defaults write com.apple.finder AutoUpdateRestartRequired -bool true
# Automatically check for updates.
defaults write com.apple.SoftwareUpdate AutomaticCheckEnabled -bool true
# Download new updates when available.
defaults write com.apple.SoftwareUpdate AutomaticDownload -int 1
# Installs critical updates
defaults write com.apple.SoftwareUpdate CriticalUpdateInstall -int 1
# Check for software updates daily, not just once per week
defaults write com.apple.SoftwareUpdate ScheduleFrequency -int 1

action "Telemetry"

# Disables targeted ads
defaults write com.apple.AdLib allowApplePersonalizedAdvertising -bool false
defaults write com.apple.AdLib allowIdentifierForAdvertising -bool false
# Disables autogathering large files when submitting a feedback report
defaults write com.apple.appleseed.FeedbackAssistant Autogather -bool false
