#!/usr/bin/env bash
set -euo pipefail

source "{{ .chezmoi.sourceDir }}/.chezmoiscripts/.utils.sh"

filename "1password"

if [[ ! -L ~/.ssh/op-agent.sock ]]; then
	action "Linking 1password agent socket"
	ln -s ~/Library/Group\ Containers/2BUA8C4S2C.com.1password/t/agent.sock ~/.ssh/op-agent.sock
else
	ignored "1password agent socket already linked"
fi
