[submodule "modules/oh-my-zsh"]
	path = modules/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "modules/powerline"]
	path = modules/powerline
	url = https://github.com/powerline/fonts.git
[submodule "modules/homebrew"]
	path = modules/homebrew
	url = https://github.com/Homebrew/install.git
