[submodule "zsh/oh-my-zsh.ln"]
	path = zsh/oh-my-zsh.ln
	url = https://github.com/bil0u/oh-my-zsh.git
[submodule "powerline_fonts.ln"]
	path = fonts/powerline_fonts.ln
	url = https://github.com/powerline/fonts.git
