{{/* Prompt for variables */}}

{{- writeToStdout "🌱 Initializing dotfiles...\n" -}}

{{- $friendlyName := promptStringOnce .host "friendly_name" "Computer friendly name" -}}
{{- $hostName := $friendlyName | lower -}}

{{/* Guess OS based variables */}}

{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" $osid .chezmoi.osRelease.id -}}
{{- end -}}

{{- $chassisType := "desktop" }}
{{- if eq $osid "darwin" }}
{{-   if contains "MacBook" (output "sysctl" "-n" "hw.model") }}
{{-     $chassisType = "laptop" }}
{{-   else }}
{{-     $chassisType = "desktop" }}
{{-   end }}
{{- else if eq $osid "linux" }}
{{-   $chassisType = (output "hostnamectl" "--json=short" | mustFromJson).Chassis }}
{{- else if eq $osid "windows" }}
{{-   $chassisType = (output "powershell.exe" "-NoProfile" "-NonInteractive" "-Command" "if ((Get-CimInstance -Class Win32_Battery | Measure-Object).Count -gt 0) { Write-Output 'laptop' } else { Write-Output 'desktop' }") | trim }}
{{- end }}

{{- $osBuild := "unknown" }}
{{- $osVersion := "unknown" }}
{{- $osMajor := "unknown" }}
{{- $osHost := "none" }}
{{- if eq $osid "darwin" }}
{{-	  $swvers := (output "sw_vers") }}
{{-	  $osBuild = mustRegexFind "\t[0-9A-Z]{5,}" $swvers | trimPrefix "\t" }}
{{-	  $osVersion = mustRegexFind "\t[0-9]{2}\\.[0-9]{1,2}\\.?[0-9]{0,2}" $swvers | trimPrefix "\t" }}
{{-	  $osMajor = mustRegexFind "[0-9]{2}" $osVersion }}
{{- else if eq $osid "linux" }}
{{-   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
{{-     $osHost = "wsl" }}
{{-   end }}
{{-   $osVersion = .chezmoi.osRelease }}
{{-   $osMajor = mustRegexFind "[0-9]+" $osVersion }}
{{- else if eq $osid "windows" }}
{{-   $osBuild = .chezmoi.windowsVersion.currentBuild }}
{{-   $osVersion = .chezmoi.windowsVersion.currentVersion }}
{{-   $osMajor = .chezmoi.windowsVersion.currentMajorVersionNumber }}
{{- end }}

{{- $fontDir := "" }}
{{- if eq $osid "darwin" }}
{{-   $fontDir = "Library/Fonts" }}
{{- else if eq $osid "linux" }}
{{-   $fontDir = ".local/share/fonts" }}
{{- else if eq $osid "windows" }}
{{-   $fontDir = "" }}
{{- end }}

{{- /* Store needed data */}}

data:
  config:

  host:
    friendly_name: {{ $friendlyName | quote }}
    host_name: {{ $hostName | quote }}
    chassis_type: {{ $chassisType | quote }}
    arch: {{ .chezmoi.arch }}
    os:
      id: {{ $osid }}
      host: {{ $osHost }}
      version: {{ $osVersion }}
      major: {{ $osMajor }}
      build: {{ $osBuild }}
    paths:
      font: {{ $fontDir }}

{{/* chezmoi flags */}}

diff:
  exclude:
    - "externals"

edit:
  command: code
  args:
    - "--wait"
