[user]
name = {{ .personal.name }}
email = {{ .personal.accounts.github.email }}
username = {{ .personal.accounts.github.username }}

[github]
username = {{ .personal.accounts.github.username }}

[core]
excludesfile = ~/.gitignore
editor = vim
{{ if eq .host.os.id "windows" -}}
sshCommand = C:/Windows/System32/OpenSSH/ssh.exe
{{ end -}}

[web]
browser = firefox

[color]
ui = auto

[color "branch"]
current = yellow bold
local = green bold
remote = cyan bold

[color "diff"]
meta = yellow bold
frag = magenta bold
old = red bold
new = green bold
whitespace = red reverse

[color "status"]
added = green bold
changed = yellow bold
untracked = red bold

[alias]
c = commit
cm = commit -m
