#!/usr/bin/env bash

# Enable Powerlevel10k instant prompt. Should stay close to the top of ~/.zshrc.
# Initialization code that may require console input (password prompts, [y/n]
# confirmations, etc.) must go above this block, everything else may go below.
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi

# If you come from bash you might have to change your $PATH.
[ -d $HOME/.local/bin ] && export PATH=$HOME/.local/bin:$PATH
[ -d $HOME/.bin ] && export PATH=$HOME/.bin:$PATH
[ -d /usr/local/bin ] && export PATH=/usr/local/bin:$PATH

# Path to the oh-my-zsh installation.
export ZSH=$HOME/.oh-my-zsh
export ZSH_CUSTOM=$HOME/.zsh/omz

# Disabling autoupdate as we rely on chezmoi externals
DISABLE_AUTO_UPDATE="true"

# Set name of the theme to load. 
# See https://github.com/robbyrussell/oh-my-zsh/wiki/Themes
ZSH_THEME="powerlevel10k/powerlevel10k"

# Uncomment the following line to use hyphen-insensitive completion. Case
# sensitive completion must be off. _ and - will be interchangeable.
HYPHEN_INSENSITIVE="true"

# Display red dots whilst waiting for completion.
COMPLETION_WAITING_DOTS="true"

# Uncomment the following line if you want to change the command execution time
# stamp shown in the history command output.
# The optional three formats: "mm/dd/yyyy"|"dd.mm.yyyy"|"yyyy-mm-dd"
HIST_STAMPS="dd.mm.yyyy"

# ZSH_DISABLE_COMPFIX=true

# Omz plugins -> aws
# See https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/aws
SHOW_AWS_PROMPT=false

# Which plugins would you like to load? (plugins can be found in ~/.oh-my-zsh/plugins/*)
# Custom plugins may be added to ~/.oh-my-zsh/custom/plugins/
# Example format: plugins=(rails git textmate ruby lighthouse)
# Add wisely, as too many plugins slow down shell startup.
plugins=(
	git
	asdf-cfg # Custom
	asdf
	1password
	aws
	python
	poetry
	load-golang # Custom
	golang
	yarn
	colors # Custom
	java-cfg # Custom
	yaml # Custom
)

compaudit &>/dev/null
if [ $? -eq 1 ]; then
	compaudit | xargs chmod g-w
fi

source "$ZSH/oh-my-zsh.sh"

# User configuration

PROMPT="%{$fg[white]%}%n@%{$fg[green]%}%m%{$reset_color%} ${PROMPT}"

setopt histignorespace
setopt rm_star_silent

export EDITOR="code --wait"

export LC_ALL="en_US.UTF-8"
export LANG="en_US.UTF-8"

export DOTFILES_DIR="$(chezmoi source-path)"

export HOMEBREW_BAT=1
export HOMEBREW_INSTALL_BADGE='⚡️'
export HOMEBREW_NO_ANALYTICS=1
export HOMEBREW_NO_ENV_HINTS=1

# Zsh completions
if type brew &>/dev/null; then
	FPATH=$(brew --prefix)/share/zsh-completions:$FPATH
	autoload -Uz compinit && compinit
fi
autoload -U +X bashcompinit && bashcompinit
complete -o nospace -C /usr/local/bin/terraform terraform

autoload -Uz compinit && compinit

# Sourcing all files in ~/.zsh/
for file in ~/.zsh/*.zsh; do
    source "$file"
done
