#!/usr/bin/env zsh

# Replace chezmoi command
dot() {
    if [[ "$1" == "cd" ]]; then
        cd $(chezmoi source-path)
    else
        chezmoi $@
    fi
}

# alias dot="chezmoi"
# alias "dot cd"="cd $(chezmoi source-path)"

# Print all personal functions informations
alias dhelp="grep "^function" ~/.dotfiles/zsh/functions.zsh | sed 's/function/+/g' | sed 's/() #/ - /g'"

alias mv="mv -i"

# `cd` aliases
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias dev="cd ~/code"

# cat(1) replacement
{{- if lookPath "bat" }}
alias cat=bat
{{- else if lookPath "batcat" }}
alias cat=batcat
{{- end }}

# Git aliases
alias gcmp="fig run @bil0u/git-commit-and-push"
alias gundo="fig run @bil0u/git-undo"
