{{- if eq .host.os.id "darwin" -}}
Host *
	IdentityAgent ~/.ssh/agent.sock

Host vogsphere-v2.42.fr
	IdentityFile ~/.ssh/keys/vogsphere_ed25519
{{- end }}

Host github.com
	IdentityFile ~/.ssh/keys/github_ed25519