{{- if eq .host.os.id "darwin" }}
Host *
	IdentityAgent ~/.ssh/op-agent.sock

Host vogsphere-v2.42.fr
	IdentityFile ~/.ssh/keys/vogsphere_ed25519

Host bastion.lab.iliomad.fr
	IdentityFile ~/.ssh/keys/iliomad_aws_bastion
{{- end }}

Host github.com
	IdentityFile ~/.ssh/keys/github_ed25519