<#
.Synopsis
  Install packages using chocolatey.
.DESCRIPTION
  Text here
#>

{{ template "darwin/utils.ps1" . }}

Filename "chocolatey"

Action "Installing packages using chocolatey..."

$configFile = New-TemporaryFile
@" 
<?xml version="1.0" encoding="utf-8"?>
<packages>
{{ range (.windows.chocolatey.packages | uniq) -}}
<package id="{{ . }}"/>
{{ end -}}
</packages>
"@ | Out-File $configFile
choco install --yes --limitoutput $configFile
 
# Delete config file
Remove-Item -Path $configFile
