<#
.Synopsis
  Configures applications defaults
.DESCRIPTION
  Text here
#>

{{ template "load-utils" . }}

Filename "apps-defaults"

{{ template "prompt-sudo" . }}

# ------------------
Group "Windows apps"
# ------------------

Action "Finder"

Action "Safari"

# Set homepage to google
# Privacy: don’t send search queries to Apple
# Prevent Safari from opening ‘safe’ files automatically after downloading
# Enable Safari’s debug menu
# Enable the Develop menu and the Web Inspector in Safari
# Disable AutoFill
# Enable “Do Not Track”
# Update extensions automatically

Action "Mail"

# Copy email addresses as `foo@example.com` instead of `Foo Bar <foo@example.com>` in Mail.app

Action "Music"

# Enables losless & Dobly Atmos
# Sets audio quality
# Maxing concurrent music downloads

Action "Photos"

# Prevent Photos from opening automatically when devices are plugged in

Action "TextEdit"

# New documents as plain text
# Open and save files as UTF-8

Action "Terminal"

# Secure Keyboard Entry (see https://security.stackexchange.com/a/47786/8918)

Action "Activity Monitor"

# Regular app icon in dock
# Frequent updates (2s)
# Keep processor window on top
# Show the main window when launching Activity Monitor
# Show all processes in Activity Monitor
# Sort Activity Monitor results by CPU usage

Action "Disk Utility"

# Enable the debug menu in Disk Utility

# ------------------
Group "Third-party apps"
# ------------------

# Action "1Password"
# Action "AdGuard"
# Action "Batteries"
# Action "Browserosaurus"
# Action "Discord"
# Action "Docker"
# Action "Figma"
# Action "Firefox"
# Action "Google Chrome"
# Action "Lepton"
# Action "Lunar"
# Action "MS Office"
# Action "NordVPN"
# Action "NZBGet"
# Action "ProtonMail Bridge"
# Action "The Unarchiver"
# Action "Vanilla"
# Action "VSCode"
# Action "Magnet"
# Action "Parcel"
