<#
.Synopsis
  Search and install updates.
.DESCRIPTION
  Text here
#>

# time hash, based on day: {{ now | date "02 January 2006" | sha256sum }}

{{ template "windows/utils.ps1" . }}
{{ template "windows/load-choco.ps1" . }}

Filename "updates"

Import-Module Boxstarter.Chocolatey

Action "Checking for system updates..."
Install-WindowsUpdate -acceptEula -SuppressReboots

Action "Checking for Microsoft Store update..."
winget upgrade --accept-source-agreements

Action "Checking for Chocolatey updates..."
choco upgrade chocolatey

Action "Checking for Chocolatey formulaes updates..."
choco upgrade all

