<#
.Synopsis
  Configures system defaults
.DESCRIPTION
  Text here
#>

{{- template "windows/utils.ps1" . }}

Filename "system-defaults"

Import-Module Boxstarter.Chocolatey
Disable-UAC

{{- if gt (len (default "" .windows.cleanup)) 0 }}
Action "Removing Microsoft junk"
{{- range (.windows.cleanup | sortAlpha | uniq ) }}
Get-AppxPackage {{ . }} | Remove-AppxPackage
{{- end }}
{{- else }}
Ignored "No microsoft junk to remove defined in config"
{{- end }}

Enable-UAC