<#
.Synopsis
  Sets registry values based on configuration data
.DESCRIPTION
  Text here
#>

{{- template "windows/utils.ps1" . }}

Filename "registry"

Import-Module Boxstarter.Chocolatey
Disable-UAC

{{- if gt (len (default "" .windows.registry)) 0 }}

Action "Writing registry values ..."

{{- range $key, $value := .windows.registry }}
{{-   $d := dict "value" $value "path" $key }}
{{-   block "chunk" $d }}
{{-     $p := .path }}
{{-     $v := .value }}
{{-     range $key, $value := $v }}
{{-       if hasPrefix "\\" $key }}
{{-         $d := dict "value" $value "path" (list $p $key | join "") }}
{{-         template "chunk" $d }}
{{-       else }}
{{-         $args := (list "-Name" $key | join " ") }}
{{-         if hasPrefix "map" (typeOf $value) }}
{{-           range $k, $v := $value }}
{{-             $args = (list $args (list "-" $k | join "") $v | join " ") }}
{{-           end }}
{{-         else }}
{{-           $args = (list $args "-Value" $value | join " ") }}
{{-         end }}
Action "> {{ $p }} : {{ $args }}"
If (-Not (Test-Path {{ $p }})) {
  New-Item -Path {{ $p | replace ".*?\\" "" }} -Name {{ $key | replace "\\" "" }} | Out-Null
}
try {
  Set-ItemProperty -Path {{ $p }} {{ $args }} -ErrorAction Stop
} catch {
  New-ItemProperty -Path {{ $p }} {{ $args }}
}
{{-       end }}
{{-     end }}
{{-   end }}
{{- end }}

{{- else }}

Ignored "No registry value defined in config"

{{- end }}


Enable-UAC