<#
.Synopsis
  Sets registry values based on configuration data
.DESCRIPTION
  Text here
#>

{{- if gt (len (default "" .windows.registry)) 0 }}

{{ template "source-utils" . }}
Import-Module Boxstarter.Chocolatey
Disable-UAC

Action "Writing registry values ..."

{{- template "windows/write-registry.ps1" .windows.registry }}

Enable-UAC

{{- end }}

