[user]
name = {{ .name }}
email = {{ .personal.accounts.github.email }}
username = {{ .personal.accounts.github.username }}

[core]
editor = vim
excludesfile = ~/.gitignore

[web]
browser = firefox

[color]
ui = auto

[color "branch"]
current = yellow bold
local = green bold
remote = cyan bold

[color "diff"]
meta = yellow bold
frag = magenta bold
old = red bold
new = green bold
whitespace = red reverse

[color "status"]
added = green bold
changed = yellow bold
untracked = red bold

[github]
username = {{ .personal.accounts.github.username }}

[alias]
c = commit
cm = commit -m
