{{- $config := includeTemplate "get-config" . | fromYaml -}}
{{- template "check-config" $config }}
{{- template "shebang" . }}

{{- template "time-hash" $config }}

set -uo pipefail

{{- template "darwin/load-brew.sh" . }}

action "Checking for Homebrew updates"
brew update

action "Checking for Homebrew formulaes updates"
brew upgrade

action "Checking for AppStore updates"
mas upgrade
