{{- $config := includeTemplate "get-config" . | fromYaml -}}
{{- template "shebang" . }}
{{- template "check-config" $config }}

set -euo pipefail

# Check for Homebrew and install if we don't have it

{{- $brewPath := "/usr/local/bin/brew" }}
{{- if eq .chezmoi.arch "arm64" }}
{{- $brewPath = "/opt/homebrew/bin/brew" }}
{{- end }}

if ! command -v brew &>/dev/null; then

	if command -v {{ $brewPath }} &>/dev/null; then
		ignored "Homebrew already installed"
	else
		action "Installing homebrew"
		/usr/bin/env bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
	fi
else
	ignored "Homebrew already installed"
fi
