{{- $config := includeTemplate "get-config" . | fromYaml -}}
{{- template "check-config" $config }}
{{- template "shebang" . }}

# Closing system preferences first
osascript -e 'tell application "System Preferences" to quit '

{{- $scriptsDir := joinPath (regexReplaceAll `(.*[\\\/]).*` .chezmoi.sourceFile "${1}") "apps-defaults" }}

{{- range $key, $value := $config }}
{{-   $script := joinPath $scriptsDir $key }}
{{-   if stat $script }}
{{      includeTemplate $script $value }}
{{-   else }}
ignored "Script {{ $key }} does not exist"
{{-   end }}
{{- end }}