{{- $config := includeTemplate "get-config" . | fromYaml -}}
{{- template "shebang" . }}
{{- template "check-config" $config }}

set -uo pipefail

action "Installing packages using asdf ..."

{{- range $pluginName, $pluginConfig := $config -}}

{{/* Setting needed variables */}}
{{- $pluginUrl := "" -}}
{{- $globalVersion := "latest" -}}
{{- $versions := list -}}

{{- if kindIs "dict" $pluginConfig -}}

{{-   if hasKey $pluginConfig "url" -}}
{{-     $pluginUrl = $pluginConfig.url -}}
{{-   end -}}

{{/* Retrieving global version */}}
{{-   if hasKey $pluginConfig "global" -}}
{{-     $globalVersion = $pluginConfig.global -}}
{{-   end -}}

{{/* Retrieving extra versions to install */}}
{{-   if hasKey $pluginConfig "extra" -}}
{{-     $versions = $pluginConfig.extra -}}
{{-   end -}}

{{- end -}}

{{/* Merging all versions */}}
{{- $versions = (prepend $versions $globalVersion | uniq) -}}
{{/* Installing */}}
group {{ $pluginName | quote }}

asdf plugin add {{ $pluginName }} {{ $pluginUrl }} >/dev/null 2>&1
case $? in
  0) action "plugin installed" ;;
  2) ignored "plugin already installed " ;;
  *) error "Unknown error, skipping plugin" && SKIP=1 ;;
esac

if [[ -n SKIP ]]; then
{{- range $versions }}
  asdf install {{ $pluginName }} {{ . }} >/dev/null 2>&1
  case $? in
    0) action "version \"{{ . }}\" installed" ;;
    2) ignored "version \"{{ . }}\" already installed" ;;
    *) error "Unknown error, skipping version \"{{ . }}\"";;
  esac
{{- end }}
  asdf global {{ $pluginName }} {{ $globalVersion }} >/dev/null 2>&1
  action "global version set to {{ $globalVersion }}"
fi

{{- end -}}
