{{- $config := includeTemplate "get-config" . | fromYaml -}}
{{- template "shebang" . }}
{{- template "check-config" $config }}

set -uo pipefail

{{- template "darwin/load-golang.sh" . }}

action "Installing go binaries ... "
{{- range ($config | uniq) }}

{{- $domain := default "github.com" (regexReplaceAll `^(?:(.*?)\/)?.*?\/.*?$` . "${1}") }}
{{- $repo := regexReplaceAll `^(?:.*?\/)?(.*?\/.*?)(?:@.*)?$` . "${1}" }}
{{- $version := default "latest" (regexReplaceAll `^.*?(?:@(.*))?$` . "${1}") }}

go install {{ $domain }}/{{ $repo }}@{{ $version }} >/dev/null

if [ $? -ne 0 ]; then
  error "error while installing {{ $repo }}@{{ $version }} from {{ $domain }}"
else
  ignored "installed {{ $repo }}@{{ $version }} from {{ $domain }}"
fi

{{- end }}
