{{- $config := includeTemplate "get-config" . | fromYaml -}}
{{- template "shebang" . }}
{{- template "check-config" $config }}

{{- $appsCount := len (default "" $config.apps) }}
{{- $othersCount := len (default "" $config.others) }}

{{- if eq (add $appsCount $othersCount) 0 }}
ignored "No dock preferences set."
exit
{{- else }}

action "Customizing dock ..."

{{- $defaultRestart := "--no-restart" }}
{{- $homeDir := .chezmoi.homeDir }}
dockutil --remove all {{ $defaultRestart }}  >/dev/null

{{- range $config.apps }}
{{-   $path := ""}}
{{-   if hasPrefix ":" . }}
{{-     $path = trimPrefix ":" . }}
{{-   else }}
{{-     $path = (list "/Applications/" . ".app/" | join "") }}
{{-     if not (stat $path) }}
{{-       $path = $path | replace "/Applications/" "/System/Applications/" }}
{{-     end }}
{{-   end }}
{{-   $path = regexReplaceAll "(~|$HOME)" $path $homeDir }}
{{-   if stat $path }}
dockutil --add {{ $path | quote }} --section apps {{ $defaultRestart }} >/dev/null
{{-   else }}
ignored "Could not find {{ . | quote }}, ignored"
{{-   end }}
{{- end }}

{{- range $index, $data := $config.others }}
{{-   $path := "" }}
{{-   $args := "" }}
{{-   if kindIs "string" $data }}
{{-     $path = $data }}
{{-   else }}
{{-     $path = .path }}
{{-     range $k, $v := $data }}
{{-       if ne $k "path" }}
{{-         $args = (list $args (list "--" $k | join "") $v | join " ") }}
{{-       end }}
{{-     end }}
{{-   end }}
{{-   $restart := $defaultRestart }}
{{-   if eq (add $index 1) $othersCount }}
{{-     $restart = "--restart" }}
{{-   end }}
{{-   $path = regexReplaceAll "(~|$HOME)" $path $homeDir }}
{{-   if stat $path }}
dockutil --add {{ $path | quote }} --section others {{ $args }} {{ $restart }}  >/dev/null
{{-   else }}
ignored "others: could not find {{ $path | quote }}"
{{-   end }}
{{- end }}

{{- end }}
