{{- $config := includeTemplate "get-config" . | fromYaml -}}
{{- template "shebang" . }}
{{- template "check-config" $config }}

set -euo pipefail

export SSH_AUTH_SOCK=~/.ssh/agent.sock
if [[ ! -L ~/.ssh/agent.sock ]]; then
	action "Linking 1password ssh agent socket"
	ln -s {{ $config | quote }} ~/.ssh/agent.sock
else
	ignored "1password ssh agent socket already linked"
fi
